<!-- templates/index.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>Users</h1>
    <ul>
      {% for user in users %}
        <li><a href="{{ url_for('edit_user', id=user.id) }}">{{ user.username }} - {{ user.email }}</a>
           <button onclick="deleteUser({{ user.id }})">delete</button>
        </li>
      {% endfor %}
    </ul>
    <a href="/users/add">Add New User</a>


    <script>
        function deleteUser(userId) {
            fetch(`/users/delete/${userId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'User deleted successfully') {
                    location.reload();
                } else {
                    alert('Error deleting user');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>

  </body>
</html>
